

<h1 class="text-primary text-center pb-5 pt-3"><strong>Chateaux gonflables</strong></h1>

 <div class="page-container">
  <div class="custom-card-container">
    <% @gonflables.each do |gonflable| %>
      <div class="custom-card">
        <% if gonflable.photo.attached? %>
          <svg class="card" style="background-image: url('<%= cl_image_path gonflable.photo.key, height: 300, crop: :fill %>')">
          </svg>
        <% else %>
          <svg class="card" style="background-image: url('https://cdn.shopify.com/s/files/1/1797/8719/products/BeBop-8-en-1-Activite-gonflable-Chateau-gonflable.JPG?v=1551973948')">
          </svg>
        <% end %>
        <div class="custom-card-content">
          <p class="custom-card-title"><%= link_to gonflable.name, gonflable_path(gonflable), class: "link" %></p>
          <p class="card-description"><%= gonflable.content %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="map-section" id="map"
    data-controller="map"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-markers-value="<%= @markers.to_json %>"
    style="height: 200px; width: 100%;">
  </div>
</div>


