<div class="container-sm mt-5 ">

  <h1 class="text-primary"><strong>Inflatables games</strong></h1>

    <p><strong><%= @gonflable.name %></strong></p>
    <hr>
  <div class="d-flex p-3 align-items-center">
      <div class="img_gonflable flex-shrink-0">
          <% if @gonflable.photo.attached? %>
            <%= cl_image_tag @gonflable.photo.key, height: 300, width: 300, crop: :fill %>
          <% else %>
            <img src="https://cdn.shopify.com/s/files/1/1797/8719/products/BeBop-8-en-1-Activite-gonflable-Chateau-gonflable.JPG?v=1551973948" width="250" height="250"alt="Gonflable pleins de couleurs">
          <% end %>
      </div>
      <div class="info_gonflable flex-grow-1 ms-5">
          <p><strong><%= @gonflable.content %></strong></p>
          <p><strong><%= @gonflable.rating %>/10</strong></p>
          <p><strong><%= @gonflable.price %></strong></p>
      </div>
    </div>
  <hr>

  <div data-controller="toggle-rent" class="mt-5">

      <button data-action="click->toggle-rent#fire">Louer</button>
      <div data-toggle-rent-target="togglableElement" class="d-none">
      <%= simple_form_for [@gonflable, @rent] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.label :date_debut, "Date de début" %>
          <%= f.date_field :date_debut, class: "form-control" %>
          <%= f.label :date_fin, "Date de fin" %>
          <%= f.date_field :date_fin, class: "form-control" %>
        </div>

        <%= f.button :submit, "Valider la réservation" %>

      <% end %>
      </div>
  </div>
    <%= link_to "Retour aux gonflables", gonflables_path(@gonflables) %>
</div>
