<div class="container-sm mt-5">

  <h1 class="text-primary"><strong>Inflatables games</strong></h1>

  <p class="text-danger">
    <%= @gonflable.name %>
    <%= @gonflable.image_url %>
    <%= @gonflable.content %>
    <%= @gonflable.rating %>
    <%= @gonflable.price %>
  </p>


  <%= link_to "Réserve", gonflable_rents_path(@gonflable, @rent), data: {turbo_method: :post} %>

</div>
