<div class="container-sm mt-5">

  <h1 class="text-primary"><strong>Inflatables games</strong></h1>

    <p><%= @gonflable.name %></p>
    <hr>
    <%# <%= image_tag(@gonflable.image_url, size: '200x200') %> %>
    <hr>
    <p><%= @gonflable.content %></p>
    <p><%= @gonflable.rating %></p>
    <p> <%= @gonflable.price %></p>



</div>
