<div class="container">
  <p><%= @user.avatar %></p>
  <h1>Profil de <%= @user.first_name %> <%= @user.last_name %></h1>
</div>

<div class="container mt-5">
  <h2>Mes gonflables en location</h2>
    <ul class="list-group">
      <% if @gonflables.present? %>
        <% @gonflables.each do |gonflable| %>
          <div class="card-product">
            <div class="card-product-infos">
              <h2>
                <strong>
                  <%= link_to gonflable.name, gonflable_path(gonflable) %>
                </strong>
              </h2>
                <div class="container-card">
                  <% if gonflable.photo.attached? %>
                    <div class="card-style" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path gonflable.photo.key, height: 300, crop: :fill %>')">
                      <%= link_to edit_gonflable_path(gonflable) do %>
                          <i class="fa-regular fa-pen-to-square"></i>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="card-style" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://cdn.shopify.com/s/files/1/1797/8719/products/BeBop-8-en-1-Activite-gonflable-Chateau-gonflable.JPG?v=1551973948')">
                    </div>
                  <% end %></p>
                </div>
              <p>Prix : <%= gonflable.price %>€</p>
            <%= link_to gonflable_path(gonflable), data: {turbo_method: :delete} do %>
              <button>Supprimer</button>
            <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <li class="list-group-item">Vous n'avez pas encore ajouté de gonflables.</li>
      <% end %>
      <div data-controller="toggle" class="mt-5">
        <button data-action="click->toggle#fire" class="btn btn-outline-primary">Ajouter un gonflable</button>
          <div data-toggle-target="togglableElement" class="d-none">
          <%= render "form", gonflable: @gonflable %>
          </div>
      </div>
    </ul>
</div>

<div class="container mt-5">
  <h2 class="my-4">Mes Réservations</h2>
    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom gonflable</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% if @my_rents.any? %>
          <% @my_rents.each_with_index do |rent, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><strong><%= link_to rent.gonflable.name, gonflable_path(rent.gonflable) %></strong></td>
              <td><%= rent.date_debut || "Non définie" %></th>
              <td><%= rent.date_fin || "Non définie" %></th>
              <td class="text-muted"><%= rent.statut || "En attente" %></td>
              <td><%= link_to rent_path(rent), data: { turbo_method: :delete }, method: :delete, class: "btn btn-danger" do %>
                  Supprimer
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr colspan="6" class="text-center">
            <td>Aucune réservation pour le moment.</p>
          </tr>
        <% end %>
      </tbody> 
    </table>
</div>

<div class="container mt-5">
  <h2 class="my-4">Mes Demandes de Réservations</h2>
    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom gonflable</th>
          <th scope="col">Réservé par :</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% if @requests.any? %>
          <% @requests.each_with_index do |rent, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><strong><%= link_to rent.gonflable.name, gonflable_path(rent.gonflable) %></strong></td>
              <td><%= rent.user.first_name %> <%= rent.user.last_name %></td>
              <td><%= rent.date_debut || "Non définie" %></th>
              <td><%= rent.date_fin || "Non définie" %></th>
              <td>
                <% if rent.statut == "En attente" %>
                  <%= button_to "Accepter", accept_rent_path(rent), method: :patch, class: "btn btn-success btn-sm" %>
                  <%= button_to "Rejeter", reject_rent_path(rent), method: :patch, class: "btn btn-danger btn-sm" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr colspan="6" class="text-center">
            <td>Aucune demande de réservation pour le moment.</p>
          </tr>
        <% end %>
      </tbody> 
    </table>
</div>